{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <form method="post", action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign Up</legend>
            <div class="form-group">
                {{ form.f_name.label(class="form-control-label") }}

                    {% if form.f_name.errors %}
                    {{ form.f_name(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.f_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else%}
                    {{ form.f_name(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                {{ form.l_name.label(class="form-control-label") }}

                {% if form.l_name.errors %}
                {{ form.l_name(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.l_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.l_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.s_name.label(class="form-control-label") }}
                {% if form.s_name.errors %}
                    {{ form.s_name(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.s_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.s_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <dir class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </dir>
    </form>
</div>
{% endblock content %}